<?xml version="1.0" encoding="utf-8"?>
<manifest 
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.MCAL.ICPE"
    android:versionCode="2"
	android:versionName="@string/app_version">
	
	<uses-permission
		android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission
		android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission 
		android:name="android.permission.INTERNET" />
    <uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
		android:name="android.permission.VIBRATE" />
    <uses-permission
		android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
		android:name="net.zhuoweizhang.mcpelauncher.ADDON"/>
	<uses-permission
		android:name="android.permission.GET_ACCOUNTS" />
	<uses-feature
		android:name="android.hardware.microphone" android:required="false" />
    <uses-sdk
		android:minSdkVersion="9" />
    
	<application 
		android:name="com.MCAL.ICPE.ICPEApplication"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:icon="@drawable/icon" >
		
		<meta-data
			android:name="net.zhuoweizhang.mcpelauncher.api.nativelibname"
			android:value="icpe_core"/>

		<meta-data 
			android:name="net.zhuoweizhang.mcpelauncher.api.targetmcpeversion"
			android:value="1.0.0.16"/>
		
		<meta-data
			android:name="PGYER_APPID"
			android:value="9150783a8e8aed1e4c7ac1da613aa8fc"/>
		
        <activity 
			android:name="com.MCAL.ICPE.activity.MainActivity"
			android:theme="@style/AppTheme"
			android:screenOrientation="user">
        </activity>
		
		<activity
			android:name="com.MCAL.ICPE.activity.LicenseActivity"
			android:theme="@style/AppTheme"
			android:screenOrientation="user">
        </activity>
		
		<activity
			android:name="com.MCAL.ICPE.activity.JoinUSActivity"
			android:theme="@style/AppTheme"
			android:screenOrientation="user">
        </activity>
		
		<activity
			android:name="com.MCAL.ICPE.activity.SettingsActivity"
			android:theme="@style/AppTheme"
			android:screenOrientation="user">
        </activity>
		
		<activity
			android:name="com.MCAL.ICPE.activity.UpdateActivity"
			android:theme="@style/AppTheme"
			android:screenOrientation="user">
        </activity>
		
		<activity
			android:name="com.MCAL.ICPE.activity.NoAPIActivity"
			android:theme="@style/AppTheme"
			android:screenOrientation="user">
        </activity>
		
		<activity
			android:name="com.MCAL.ICPE.activity.OptionsActivity"
			android:theme="@style/AppTheme"
			android:screenOrientation="user">
        </activity>
		
		<activity
			android:name="com.MCAL.ICPE.activity.GuideActivity"
			android:theme="@style/FullScreen"
			android:screenOrientation="user"
			android:label="@string/app_name">
			
            <intent-filter>
                <action
					android:name="android.intent.action.MAIN" />
                <category
					android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			
        </activity>
		
    </application>
	
</manifest> 
